@import "~bootstrap";
@import "~bootstrap-icons";
@import "~font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=El+Messiri:wght@400..700&family=Lobster&display=swap');

:root{
    --items-per-screen: 3;
    --gap-between-items: 10px;
}

@media only screen and (max-width: 900px) {
    :root{
        --items-per-screen: 2;
        --gap-between-items: 5px;
    }
}

@media only screen and (max-width: 550px) {
    :root{
        --items-per-screen: 1;
        --gap-between-items: 5px;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "El Messiri", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.bg-AI{
    background: linear-gradient(to right, #6431d3 0% 30%, #ec5392 90% 100%);
}

.light-text-hover:hover{
    background-color: whitesmoke !important;
    color: black !important;
}

.underline-hover:hover{
    text-decoration: underline;
}

.glow-hover:hover{
    background:
            radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%), /* Center glow */
            linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%), /* Horizontal fade */
            linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%); /* Diagonal fade */

    backdrop-filter: blur(12px);
    color: white !important;
    transform: scale(1.05);
    transition: all 0.3s;
}

.bg-soft-blue{
    background: #DCE6F1;
}

.actions-mobile-global{
    display: none;
}

.mobile-nav-links{
    display: none;
}

.mobile-nav-links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: rgba(33, 37, 41);
}

.mobile-nav-links a:hover{
    text-shadow: 1px 1px 2px #afa0ff;
    font-weight: 900;
}

.mobile-nav-links a i{
    font-size: 25px;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.el-messiri {
     font-family: "El Messiri", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
 }

.didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.banner-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 2px;
}

.banner-track {
    display: flex;
    transition: transform 1s ease-in-out;
    width: max-content; /* Ensures the track adapts to the number of items */
}

.banner-item {
    flex: 0 0 calc(100vw / var(--items-per-screen)); /* Ensures that 3 items take up the full container width */
    box-sizing: border-box;
    padding-right: var(--gap-between-items);
    text-align: center;
}

.banner-item img {
    width: calc((100vw / var(--items-per-screen)) - (var(--items-per-screen) * var(--gap-between-items)));
    height: 120px;
}

.cart-preview-container{
    position: fixed;
    top: 11px;
    right: 4px;
    background-color: white;
    z-index: 9999;
    padding: 10px;
    transition: all 0.1s;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
}

.cart-preview-container h3{
    font-size: 20px;
}

.cart-preview-products-container{
    display: flex;
    flex-direction: column;
}

.cart-preview-product{
    display: grid;
    grid-template-columns: 70px 200px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
}

.cart-preview-product p{
    margin: 0;
}

.cart-preview-product img{
    width: 60px;
}

.preview-product-title{
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    color: black;
}

.preview-product-title:hover{
    text-decoration: underline;
}

.close-cart-preview-container{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
}

.view-cart-button{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    border-radius: 30px;
    padding: 2px 30px;
    transition: all 0.3s;
    text-align: center;
}

.view-cart-button:hover{
    box-shadow: 0 0 10px #6431d3;
    color: white;
}

.search-preview-extend{
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
}

.search-preview-product a{
    width: 100%;
    height: 100%;
}

.search-preview-product p{
    font-size: 12px;
}

.search-preview-product a:hover{
    text-decoration: underline !important;
}

@media only screen and (max-width: 1000px) {
    .main-nav-links{display: none}

}

@media only screen and (max-width: 992px) {
    .actions-mobile-global{
        display: initial;
    }

    .mobile-nav-links{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}


@media  only screen and (max-width: 400px) {
    .search-preview-product p{
        font-size: 10px;
    }

    .search-preview-extend{
        left: 0;
        top: 0;
    }

    .logo-extend{
        padding: 0;
        margin: 0;
    }

    .logo-extend img{
        width: 40px;
        height: 40px;
    }

    .main-nav-icon-extend{
        height: 20px !important;
    }

    .main-nav-icon-extend i{
        font-size: 20px !important;
    }

}


