.form-container{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    margin-top: 30px;
    border-radius: 30px;

}

.form-column{
    padding: 30px;
}

.submit-btn{
    text-align: center;
    grid-column: 1 /span 2;
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    border-top: 1px solid gray;
    border-radius: 10px;
}

.submit-btn button{
    color: #0082e6;
    width: 100%;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
    background-color: white;
    border: none;
    font-weight: 900;
}

.error-message{
    color: red;
}

#change-info-form .form-column,
#password-change-form .form-column,
#login-form .form-column{
    grid-column: 1 / span 2;
}

#change-info-form,
#password-change-form{
    width: 60%;
    margin: 0 auto;
}

#login-form{
    width: 400px;
    margin: 40px auto;
}

@media only screen and (max-width: 1200px){
    #change-info-form,
    #password-change-form{
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    #register-form .form-column{
        grid-column: 1 / span 2;
    }
    
}