.main-nav-extend{
    background-position: center;
    background-size: cover;
}

.mobile-category-nav{
    display: none;
}

@media only screen and (max-width: 992px) {
    .mobile-category-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

   .search-container{
       width: 300px;
   }
    #navbarsExample02{
        display: none !important;
    }
}

@media only screen and (max-width: 450px) {
    .search-container{
        width: 200px;
        font-size: 12px;
    }

    .search-preview-product img{
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width: 350px) {
    .search-container{
        font-size: 10px;
    }
    .search-preview-product img{
        width: 30px;
        height: 30px;
    }
}